
.centerStart{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.centerStart h1{
    color: #D7000F;
    font-size: 2Rem;
    font-family: "SimHei";
    text-align: center;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}